<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite name="Default Test Suite">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <logging>
        <junit outputFile="build/coverage/junit.xml" />
    </logging>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
            <crap4j outputFile="build/coverage/crap4j.xml"/>
            <html outputDirectory="docs/coverage"/>
            <xml outputDirectory="build/coverage/xml"/>
        </report>
    </coverage>
</phpunit>
